* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	/* background-color: #fbf8ee; */
	/* background: linear-gradient(#fbf8ee, #f8f7f7); */
}
html {
	scroll-behavior: smooth;
  }
:root {
	--yellow: rgb(245, 209, 9);
	/* --yellow:gold; */
	--blue: rgb(6, 6, 73);
	/* --blue: #080133; */
	--radial: #f8f7f7;
	/* --bgcolor: linear-gradient(to bottom, #fefccd, #ffffff 50%); */
	--bgcolor:linear-gradient(to right , #fefccd, #ffffff 30%);
}
header {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to right, #fefccd, #ffffff 20%);

}
nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding-top: 0.75rem;
}
.navbar-logo {
	font-size: 2rem;
	font-weight: 500;
	text-transform: capitalize;
	margin-top: 0.25rem;
	color: var(--blue);
	/* font-family: Arial, Helvetica, sans-serif; */
}
.navbar-logo span {
	color: var(--yellow);
}
.navbar-data {
	margin-top: 0.25rem;
}
.navbar-data a {
	margin-left: 2.25rem;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 0.85rem;
	font-weight: 500;
	color: var(--blue);
}
.navbar-data a:hover {
	color: var(--yellow);
}
/* .navbar-button button {
	height: 40px;
	width: 120px;
	border-radius: 30px;
	border: none;
	text-transform: capitalize;
	font-weight: 500;
	background-color: var(--yellow);
	color: var(--blue);
} */
.container {
	display: flex;
	justify-content: space-around;
}
header .container1-img img {
	height: 90%;
	width: 100%;
}
header .heading {
	font-size: 3.25rem;
	font-weight: 600;
	color: var(--blue);
	margin-top: 6.25rem;
	margin-left: 2.5rem;
	line-height: 3.75rem;
}
header .container1-p {
	font-size: 1rem;
	font-weight: 300;
	margin-left: 2.5rem;
	margin-top: 1.25rem;
	color: slategray;
	line-height: 1.5rem;
}
header .container1-b {
	height: 2.5rem;
	width: 7.5rem;
	border-radius: 2rem;
	border: none;
	text-transform: capitalize;
	font-weight: 500;
	background-color: var(--yellow);
	color: var(--blue);
	margin-top: 2rem;
	margin-left: 18%;
}
.container2 {
	width: 100%;
	background: var(--bgcolor);
}
.container2 h3 {
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	color: var(--blue);
	text-transform: capitalize;
}
.container2 h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2.25rem;
	color: var(--blue);
	text-transform: capitalize;
}
.container2-cards {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.container2-card {
	height: 11.25em;;
	max-width: 30rem;
	border: none;
	margin-top: 2.5rem;
	padding: 2rem 1.25rem;
	border-radius: 0.6rem;
	transition: all 0.5s ease-in-out;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
 

}
.container2-card .img img{
	height: 3.25rem;
	width: 3.25rem;
	/* margin-right: 10px; */
}
.container2-card:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.data h2 {
	color: var(--blue);
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: capitalize;
}
.data {
	font-size: 1rem;
	font-weight: 300;
	color: slategray;
}
.container3{
	height: 60vh;
	width: 100%;
	background: var(--bgcolor);
}
.container3 h1{
	text-align: center;
	font-size: 2.25rem;
	font-weight: bold;
    color: var(--blue);
	padding-top: 3rem;

}
.container3-cards{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}
.container3-card .fas{
    font-size: 1.5rem;
	padding-top: 2.25rem ;
	padding-bottom: 1rem;
	text-align: center;
	color: var(--yellow);

}
.container3-card h5{
	font-size: 1.5rem;
	font-weight: bold;
    color: var(--blue);
	
}
.container3-card p{
	font-size: 1rem;
	font-weight: 500;
	color: slategray;
	
}


.container4{
	height: 110vh;
	width: 100%;
	background: url(./contactusbg1.jpg) no-repeat;
	background-size: cover;
	padding-top: 2rem;
	padding-left: 8rem;
}
.container4-card{
	height: 36rem;
	width: 22rem;
	border-radius: 1rem;
	background-color: white;
}
.container4-card h5{
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--blue);
	font-weight: bold;

}
.container4-card p{
	
	text-transform: capitalize;
	margin-left: 2rem;
	font-size: 1.25rem;
	font-weight: 600;
}
.container4-card input{
	margin-left: 2rem;
	text-transform: capitalize;
	padding-left: 0.25rem;
	font-size: 0.8rem;
	height: 2.5rem;
	width: 17rem;
	border: 1px solid black;
	border-radius: 0.25rem;
	margin-bottom: 1.25rem;
}
.container4-card textarea{
	margin-left: 2rem;
	text-transform: capitalize;
	padding: 0.5rem;
	font-size: 0.8rem;
	height: 4.5rem;
	width: 17rem;
	border: 1px solid black;
	border-radius: 0.25rem;
}
.container4-card button{
	background: #00cb87;
	margin-left: 2rem;
	text-transform: capitalize;
	text-align: center;
	font-size: 1rem;
	height: 2.5rem;
	width: 17rem;
	border: none;
	border-radius: 0.5rem;
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.container4-card b{
	font-size: 0.7rem;
	margin: 1rem;
	color: slategray;
	
}
.container4-card button:hover{
	color: black;
}
.container5{
	padding: 1rem;
	background: var(--bgcolor);
}





























footer {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 1.5rem;
	background: var(--blue);
	flex-wrap: wrap;
	
}
footer .endbar span{
	color: var(--yellow);
}
footer .endbar h1{
	font-size: 1.25rem ;
	color:white;
	text-transform: capitalize;
	font-weight: bold;
	

}
footer .endbar p{
	font-size: 1rem;
	font-weight: 300;

	margin-top: 1.25rem;
	color: slategray;
	line-height: 1.5rem;
}
footer .endbar a{
	text-decoration: none;
	font-size: 0.85rem;
	font-weight: 500;
	color: white;
	text-transform: capitalize;
	line-height: 30px;
}
footer .endbar a:hover{
	color: var(--yellow);
}
footer .endbar  .fas{
	font-size: 1.25rem;

	padding: 0.6rem;
	padding-left: 0;
	color:white;

}
footer .endbar .endbar-gmail .fas:hover{
	color:rgb(209, 78, 78) ;
}
footer .endbar .endbar-phone .fas:hover{
	color:rgb(27, 216, 27) ;
}
footer .endbar .endbar-location .fas:hover{
	color: red;

}


footer .endbar .fab{
	font-size: 1.5rem;
	padding: 1.2rem;
	margin-top: 0.8rem;
	color: white;
}
footer .endbar .insta .fab:hover{
	color: #e84393;
}
footer .endbar .twitter .fab:hover{
	color:#0097e6 ;
}
footer .endbar .whatsapp .fab:hover{
	color:rgb(27, 216, 27) ;
}
footer .endbar .facebook .fab:hover{
	color:rgb(20, 20, 233) ;
}

.times{
	display:none;
}

.timesnav{
	display: none;
}

@media(min-width:1400px){
	body{
		font-size: 15px;
	}

	nav {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		padding-top: 0.75rem;
	}
	.navbar-logo {
		font-size: 2rem;
		font-weight: 500;
		text-transform: capitalize;
		margin-top: 0.25rem;
		color: var(--blue);
		/* font-family: Arial, Helvetica, sans-serif; */
	}
	.navbar-logo span {
		color: var(--yellow);
	}
	.navbar-data {
		margin-top: 0.25rem;
	}
	.navbar-data a {
		margin-left: 2.25rem;
		text-transform: capitalize;
		text-decoration: none;
		font-size: 0.85rem;
		font-weight: 500;
		color: var(--blue);
	}
	.navbar-data a:hover {
		color: var(--yellow);
	}
	/* .navbar-button button {
		height: 40px;
		width: 120px;
		border-radius: 30px;
		border: none;
		text-transform: capitalize;
		font-weight: 500;
		background-color: var(--yellow);
		color: var(--blue);
	} */
	.container {
		display: flex;
		justify-content: space-around;
	}
	header .container1-img img {
		margin-top: 60px;
		height: 90%;
		width: 100%;
	}
	header .heading {
		font-size: 3.25rem;
		font-weight: 600;
		color: var(--blue);
		margin-top: 10.25rem;
		margin-left: 4.5rem;
		line-height: 3.75rem;
	}

	.container4{
		height: 110vh;
		width: 100%;
		background: url(./contactusbg1.jpg) no-repeat;
		background-size: cover;
		padding-top: 2rem;
		padding-left: 8rem;
	}
	.container4-card{
		height: 36rem;
		width: 22rem;
		border-radius: 1rem;
		background-color: white;
		margin-top: 100px;
	}

	
}

@media(max-width:430px){
	body{
		font-size: 10px;
	}

	header {
		height: 100%;
		position: relative;

	}
	
	nav {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 0;
		margin-left: 0;
	}
	.navbar-logo {
		font-size: 1.4rem;
		font-weight: 500;
		text-transform: capitalize;
		margin-top: 0.25rem;
		color: var(--blue);
		font-weight: 700;
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		
		
	}
	.navbar-logo span {
		font-weight: 600;
		
	}
	.navbar-data {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		background-color: rgb(250, 247, 202) ;
		height: 100vh;
		width: 100%;
		right: -200vw;
		transition: all 1s ease;
		z-index: 100;
	}

	

	.times{
		display:block;
		height: 30px;
		width: 30px;
		position:absolute;
		top: 10px;
		right: 10px;
		font-size: 50px;
		transition:all 1s ease;
	}

	.timesnav{
		display: block;
		position:absolute;
		top: 20px;
		right: 20px;
		font-size: 50px;
		transition:all 1s ease;
	}

	.navbar-data a {
		margin-left: 0;
		text-transform: capitalize;
		text-decoration: none;
		font-size: 2.5rem;
		font-weight: 500;
		color: var(--blue);
		padding-top: 1rem;
	}
	

	header .container1-img img {
		display: none;
	}
	header .heading {
		margin-top:30px ;
		margin-right: 50%;
		line-height: 55.5px;
	}

	header .container1-b {
		margin-top: 1rem;
		margin-left: 10%;
		
	}

	.container2 {
		width: 100%;
		background: var(--bgcolor);
		padding-top: 4rem;
		
		
	}

	.container2-cards{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 25px;
	
	}

	.container2-card {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.container3{
		height: 100%;
		width: 100%;
		background: var(--bgcolor);
	}
	.container3 h1{
		text-align: center;
		font-size: 2.25rem;
		font-weight: bold;
		color: var(--blue);
		padding-top: 3rem;
	
	}
	.container3-cards{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		text-align: center;
	}

	.container3-card{
		margin-top: 40px;
	}

	/* enquiry */
	.container4{
		height: 36rem;
		width: 100%;
		border-radius: 1rem;
		background-color: white;
		margin: 0 auto;
		padding-left: 0rem;
		background: none;
	}

	.container4-card{
		height: 36rem;
		width: 100%;
		border-radius: 1rem;
		background-color: white;
		
	}

	.container4-card h5{
		text-align: center;
		padding: 0rem;
	
	}

	.container4-card p{
		margin-left: 2.5rem;
	}
	.container4-card input{
		
		margin-left: 2.5rem;
	}
	.container4-card textarea{
		margin-left: 2.5rem;
	}

	.container4-card button{
		margin-left: 2.5rem;
	}

	footer {
		justify-content: flex-start;
	}

	footer .endbar{
		margin-top: 30px;
	}

	footer .endbar a{
		text-align: left;
	}
	

}